@import "tailwindcss";


/* @font-face {
      font-family: "Almarai";
      src: url("/assets/fonts/Almarai/Almarai-Regular.ttf") format("truetype");
      font-display: swap;
}

@font-face {
      font-family: "AlmaraiBold";
      src: url("/assets/fonts/Almarai/Almarai-Bold.ttf") format("truetype");
      font-display: swap;
} */


body {
      background: white !important;
      color: black !important;
      font-family: var(--font-almarai);
      font-weight: 450 !important;

}

html {
      height: 100%;
      overflow: hidden;
      position: relative;
}

body {
      height: 100%;
      overflow: auto;
      position: relative;
}

h1,
h2,
h3,
h4,
h5,
strong {
      font-weight: bold;
}

.font-sanfrancisco {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}

body,
p,
label,
div {
      font-weight: inherit;
      font-family: var(--font-almarai) !important;
}


button,
.btn {
      font-family: var(--font-almarai) !important;
      @apply bg-[#e21893] text-white p-6;
      font-weight: 600;
      border-radius: 8px;
      zoom: 0.8;
      box-shadow: none !important;
      --btn-shadow: none !important;
      border: none !important;
}

.btn:not(.btn-outline) {
      --btn-border: transparent !important;
      --btn-shadow: 0 0 #0000 !important;
      border-color: transparent !important;
      box-shadow: none !important;
}

.btn.btn-outline {
      @apply bg-transparent text-[#e21893];
      border: 2px solid #e21893;
}

button:is(:disabled) {
      opacity: 0.2;
      cursor: not-allowed;
}

.isdefaultBillingObj::before {
      content: "Default";
      height: 20px;
      border-radius: 5px 0px 0px 0px;
      padding: 0px 10px;
      position: absolute;
      bottom: -1px;
      right: -1px;
      background: #e21893;
      color: white;
      font-size: 90%;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Almarai', sans-serif !important;
      font-weight: 550;
      font-size: 9px;
      padding-top: 1px;
      padding-left: 11px;
}

.bordered-table,
.bordered-table th,
.bordered-table td {
      border: 1.6px solid #e21893 !important
}

/* w-[48%] sm: */
.gramBox {
      @apply flex items-center justify-center w-[22%] border-[3.5px] rounded-[8px] border-[#e21893];
      font-weight: 600 !important;
      font-size: 11px !important;
      height: 40px;
      margin: 10px auto;
      text-align: center;
}

.gramBox.active {
      @apply bg-[#e21893] text-white
}

select {
      border: solid 1px #ccc;
}

select:focus {
      box-shadow: none !important;
      outline: 0px !important;
      outline-offset: 0px !important;
      border: solid 1px #ccc;
}


.zm-6 {
      zoom: .4;
}


.product-card {
      @apply w-[fit-content] min-w-[50%] max-w-[50%] sm:min-w-[25%] sm:max-w-[25%] lg:min-w-[20%] lg:max-w-[20%] mt-12;
      line-height: 1.6rem;
}

.product-card-upsell {
      @apply w-[fit-content] min-w-[33%] max-w-[33%] sm:min-w-[25%] sm:max-w-[25%] lg:min-w-[20%] lg:max-w-[20%] px-2;
      line-height: 1.6rem;
}

.elipsis-1 {
      white-space: wrap;
      overflow: hidden;
      text-overflow: ellipsis;
}

.breadcrumbs>ul>li:before {
      border-top: 2px solid;
      border-right: 2px solid;
      opacity: 1;
      margin-top: 3px;

}

.no-arrow:before {
      opacity: 0 !important;
      margin-right: 0px !important;
}

.overflow-x-scroll {
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
}

.no-scrollbar {
      scrollbar-width: none;
      -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
      display: none;
}

.cloudinary-widget,
.cloudinary-modal,
.cloudinary-widget .widget {
      z-index: 9999999999 !important;
}

.menu-item-btn {
      width: 100%;
      background: #e21893;
      color: white;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
}


#nprogress {
      pointer-events: none;
}

#nprogress .bar {
      background: white !important;
      height: 5px;
}

#nprogress .bar .peg {
      background: white !important;
      box-shadow: 0 0 10px white, 0 0 5px white;
}

.form-box .input-append.open .input-eye-closed,
.form-box-2 .input-append.open .input-eye-closed {
      display: none;
}

.form-box .input-append.close .input-eye-open,
.form-box-2 .input-append.close .input-eye-open {
      display: none;
}

.form-box .input-append img,
.form-box-2 .input-append img {
      height: 18px;
      margin: 0px auto;
      transform: translateX(2.5px);
}

.form-box-2 .input-append img {
      height: 18px;
      margin: 0px auto;
      transform: translateX(1px);
}

.form-box-2 {
      border: 3.5px solid #e21893;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0px 5px 5px 5px;
      position: relative;
}

.form-box-2 .isdefault::before {
      content: "Default";
      height: 20px;
      border-radius: 5px 0px 0px 0px;
      padding: 0px 10px;
      position: absolute;
      bottom: -1px;
      right: -1px;
      background: #e21893;
      color: white;
      font-size: 90%;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Almarai', sans-serif !important;
      font-weight: 550;
      font-size: 9px;
      padding-top: 1px;
      padding-left: 11px;
}

.form-box-2.apnd {
      background: #e21893;
}

.form-box-2 input {
      width: 100%;
      border: none !important;
      background-color: white;
      outline: none !important;
      height: 35px;
      border-radius: 5px;
      box-shadow: none !important;
      padding-left: 10px;
}

.postcode-cont {
      display: none;
}

.float-label-text-right {
      height: 20px;
      color: #162ff1;
      width: fit-content;
      padding: 0px 13px;
      padding-top: 3px;
      display: flex;
      justify-content: end;
      align-items: center;
      margin-bottom: -1px;
      font-size: 9px;
      margin-left: auto;
      margin-bottom: -20px;
      text-decoration: underline;
}


.form-box-2 select {
      width: 100%;
      border: none !important;
      background-color: white;
      outline: none !important;
      height: 35px;
      border-radius: 5px;
      box-shadow: none !important;
      font-size: 90%;
      padding-left: 10px;
}

.form-box-2.apnd input {
      width: 95%;
      border-radius: 0px 0px 0px 3px;
}

.form-box-2.prnd input {
      width: 90%;
}

.float-label {
      height: 20px;
      background: #e21893;
      color: white;
      border-radius: 5px 5px 0px 0px;
      width: fit-content;
      padding: 0px 13px;
      padding-top: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: -1px;
      font-size: 9px;
}

.form-box-2 .input-prepend {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: end;
      background: white;
      height: 35px;
      font-size: 99%;
      font-weight: bold;
}

.form-box-2 .input-append {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #e21893;
      height: 35px;
      color: white;
      font-size: 99%;
      font-weight: bold;
}

.form-label {
      font-size: 14px;
      margin-left: 5px;
}

.float-label-right {
      height: 20px;
      color: #162ff1;
      width: fit-content;
      padding: 0px 13px;
      padding-top: 3px;
      display: flex;
      justify-content: end;
      align-items: center;
      margin-bottom: -1px;
      font-size: 10px;
      font-weight: 550 !important;
      margin-left: auto;
      margin-bottom: -20px;
      text-decoration: underline;
}


.table.no-radius {
      border-radius: 0px !important;
}

.table-sm :not(thead, tfoot) tr {
      font-size: inherit !important;
}

input[type="radio"],
input[type="checkbox"] {
      accent-color: #e21893;
}


.order-pending {
      background: #e21893;
      color: white;
}

.order-processing {
      background: #55ed55;
      color: #405e12;
}

.order-on-hold {
      background: #ffb82a;
      color: #966300;
}

.order-completed {
      background: #00a8f3;
      color: #0f4a73;
}

.order-cancelled {
      background: red;
      color: white;
}

.text-muted {
      @apply text-[#e21893]/70;
}

::-webkit-scrollbar-track {
      /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1); */
      background-color: transparent;
}

div::-webkit-scrollbar-track {
      background-color: transparent;
}

.bl_post-description {
      font-size: 14px;
      color: #666;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 60px;
}

.bl_post-title {
      font-size: 1rem;
      font-weight: bold;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 45px;
}

.bg-auth {
      background-image: url('/assets/images/auth-background-1.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

@media (min-width: 768px) {
      .bg-auth {
            background-position: center 10%;
      }
}

@plugin "daisyui";

@plugin "daisyui" {
      themes: light --default, dark --prefersdark;
}